/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
  background: var(--bg);
  border-bottom: 1px solid var(--accent);
}

/* logo */
.navbar-logo a {
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--footer-link-hover);
}

/* links */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: var(--text);
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.navbar-links a:hover {
  opacity: 1;
}


.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--text);
}

/* mobile */

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    flex-direction: column;
    gap: 1.5rem;

    background: var(--bg);
    border-bottom: 1px solid var(--accent);

    padding: 1.5rem 0;

    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
  }

  .navbar-links.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}